<%- include('./partials/header.ejs')%> <%- include('./partials/navbar.ejs')%>

<body>
  <div id="top-container" class="container-fluid">
    <h1 id="main-title" class="text-center">
      Encontre a oportunidade dos seus sonhos
    </h1>
    <p id="main-subtitle" class="text-center">
      Somos o maior grupo de recrutamento do Brasil
    </p>
    <div class="row"></div>
    <form id="search-form" class="form-inline" action="/" method="GET">
      <div class="form-group col-md-10">
        <input
          type="text"
          class="form-control"
          id="job"
          name="job"
          placeholder="Digite a vaga que está buscando"
        />
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary">Procurar</button>
      </div>
    </form>
  </div>

  <main>
    <div id="jobs-container" class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 id="job-list-title">Vagas em destaque</h2>

          <ul id="job-list" class="list-group">
            <% jobs.forEach(job => { %>
            <li class="list-group-item new-job">
              <img src="/img/company.svg" alt="<%= job.title  %>" />
              <p><%= job.company %></p>
              <h3><%= job.title %></h3>
              <% if(job.newjob == 1){ %>
              <p class="new-job-label">Nova</p>
              <% } else { %>
              <p class=""></p>
              <% } %>

              <p>R$ <%= job.salary %></p>

              <a href="/jobs/<%= job.id %>" class="btn btn-primary"
                >Ver Vaga</a
              >
            </li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>
  </main>
</body>

<%- include('./partials/footer.ejs')%>
